.type-eletric{
    background-color: #fcc719;
}

.type-fire{
    background-color: #f15000d2;
}

.type-normal{
    background-color: #bfb5af;
}

.type-water{
    background-color: #015c98 ;
}

.type-fairy{
    background-color: #ee4266;
}